/*-------------------------------------
  Theme
-------------------------------------*/
@import url('./theme.css');

/*-------------------------------------
  General
-------------------------------------*/
* {
    @apply scroll-smooth;
}

body,
#app-root {
    @apply font-ubuntu bg-canvas text-base text-sm antialiased;
}

/*-------------------------------------
  Number Input
-------------------------------------*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    appearance: textfield;
}

/*-------------------------------------
  Scroll Bar
-------------------------------------*/
::-webkit-scrollbar {
    @apply h-1.5 w-1.5;
}

::-webkit-scrollbar-track {
    @apply my-2;
}

::-webkit-scrollbar-thumb {
    @apply rounded-md bg-interactive-primary/40;
}
