preview.oneclicktask.com {
    encode zstd gzip

    @vite_ws {
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @vite_ws 127.0.0.1:5173

    @vite_assets path /@vite/* /__vite* /resources/* /node_modules/* /@fs/* /@id/*
    reverse_proxy @vite_assets 127.0.0.1:5173

    reverse_proxy 127.0.0.1:8000
}
